{% extends 'layout.html.twig' %}

{% block title %}
  Register
{% endblock %}

{% block body %}

{% if not fromModal is defined %}
	{#navbar #}
	{{ include("navbar/navbar.html.twig") }}
	{#navbar #}
{% endif %}
  <div class="container login-form">
    {# content #}
    <div class="text-center" style="color: #757575;">
      <div class="card-login">
        <h5 class="card-header info-color white-text text-center py-4">
          <strong>Login</strong>
        </h5>
        <div class="card-body px-lg-5 pt-0">
            <form method="POST" id="modal_form_login" action={{ path('app_login', {
                    'fromModal': true,
                  })
                  }}>
                {{ include('security/loginFormContent.html.twig') }}
                <button id="login_form_submit" type="submit" class="btn btnSubmit">Login</button>
            </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
