{% extends 'home/layout.html.twig' %}

{% block body %}
  {{ parent() }}
  <header class="masthead" id="index-masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">Get True Story{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %} {{name}}{% endif %}
        </div>
        <div class="intro-heading text-uppercase">
          <span class="Text-Pink">Ma</span><span class="Text-White">tcha</span>
        </div>
        {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
          <!-- Bouton servant à activer la modale -->
          <button type="button" class="btn btn-primary btnSubmit" data-toggle="modal" data-target="#modal-register">
            Register
          </button>
          <!-- Structure de la modale -->
          <div id="modal-register" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                {{ render(controller('App\\Controller\\RegistrationController::register', {
                    'fromModal': true,
                  }
                )) }}
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </header>

  {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <section id="why-matcha-section" class="index-section-1">
      <div class="index-section-1-div-1">
        <h2 class="Text-Pink h2">Why Matcha?</h2>
        <h3 class="h3">Travel with Someone You Love</h3>
        <p>A simple way to discover a new world of traveling.</p>
      </div>
    </section>
      <section id="how-does-it-work-section" class="index-section-1">
      <div class="index-section-1-div-1">
        <h2 class="Text-Pink h2">How does it work?</h2>
        <h3 class="h3">Travel with Someone You Love</h3>
        <p>A simple way to discover a new world of traveling.</p>
      </div>
    </section>
      <section id="testimonials-section" class="index-section-1">
      <div class="index-section-1-div-1">
        <h2 class="Text-Pink h2">Our success stories</h2>
        <h3 class="h3">Over 1.6 million people met their partner on Matcha.</h3>
      </div>
      <div>
        <img src="./images/forest-gump.jpg">
        <img src="./images/forest-gump.jpg">
        <img src="./images/forest-gump.jpg">
        <img src="./images/forest-gump.jpg">
        <img src="./images/forest-gump.jpg">
        <img src="./images/forest-gump.jpg">
        <img src="./images/forest-gump.jpg">
      </div>
    </section>
    <br>
    <section class="index-section-ready-now">
      <div class="container text-center">
          <a class="btn btn-primary center-block" href="#index-masthead">
            Ready now?
          </a>
      </div>
    </section>
  {% endif %}
{% endblock %}

