{% extends 'layout.html.twig' %}

{% block title %}
  Register
{% endblock %}
{% block body %}
  {# navbar #}
  {{ include('navbar/navbar.html.twig') }}
  {# navbar #}
  <div class="container register-form">
    {# card content #}
    <div class="text-center" style="color: #757575;">
      <div class="card">
        <h5 class="card-header info-color white-text text-center py-4">
          <strong>Tell us about you</strong>
        </h5>
        <div class="card-body px-lg-5 pt-0">
          {{ form_start(registrationForm) }}
          {{ include('registration/registerCardContent.html.twig') }}
          <div class="form-margin">
            <button class="btnSubmit">Register</button>
          </div>
          {{ form_end(registrationForm) }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
