{% extends 'layout.html.twig' %}

{% block title %}config{% endblock %}

{% block body %}
	{#navbar #}
	{{ include("navbar/config-navbar.html.twig") }}
	{#navbar #}
	<div class="alert alert-warning">
		<p class="text-capitalize"> {{ content }} </p>
	</div>

{% endblock %}