{% extends 'profil/layout.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="fb-profile">
            <img align="left" class="fb-image-lg" src="{{ asset(ProfilUserProfilePictureUrl) }}" alt="Profile image example"/>
            <div class="fb-profile-text">
                <h1>Eli Macy</h1>
                <p>Girls just wanna go fun.</p>
            </div>
        </div>
    </div> <!-- /container -->
{% endblock %}
