{% extends 'profil/layout.html.twig' %}

{% block body %}
    {{ parent() }}
<header class="profil-head" id="index-masthead">
    <img class="profil-background-cover-photo" src="{{ asset(profilUserCoverPictureUrl) }}">

    <div class="container">
        <div class="row">
            <div class="col">
                <img class="profil-profil-picture" src="{{ asset(profilUserProfilPictureUrl) }}">
            </div>
        </div>

    </div>

</header>
{% endblock %}
