{% extends './home/layout.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    {{ parent() }}
  <header class="masthead" id="index-masthead">

    <div class="container">

        <div class="intro-text">

            <div class="intro-lead-in">Hello {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %} {{name}}, This is the Admin page{% endif %}
            </div>

        </div>

    </div>

  </header>
{% endblock %}

{% block footer %}
{% endblock %}
