{% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
  <!-- button to launch modale register -->
  <button id="button-getstarted" onclick="showModalRegister()" type="button" class="btn btnSubmit btn-getstarted">
    Register
  </button>

  <!-- modale struct -->
  <div id="modal-register" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div id="modal-content-register" class="modal-content">
        {# ajax script put the corresponding view in the block #}
      </div>
    </div>
  </div>
{% endif %}

<script>
	function showModalLogin() {
    	$('#modal-register').modal('show')
    	$("#modal-content-register").hide();
    	$.ajax({
    	    url: '/login',
    	    type: 'GET',
    	    data: {
    	        fromModal: true,
    	      },

    	    success: function(data) {
    	        if (data.data === 'success') {
    	            $('#modal-register').modal('hide')
    	            location.reload();
    	        }
    	        $('#modal-content-register').html(data);
    	        $("#modal-content-register").show();
    	    }
    	});
  }

	function showModalRegister() {
    	$('#modal-register').modal('show')
    	$("#modal-content-register").hide();
    	$.ajax({
    	    url: '/register',
    	    type: 'GET',
    	    data: {
    	        fromModal: true,
    	      },

    	    success: function(data) {
    	        if (data.data === 'success') {
    	            $('#modal-register').modal('hide')
    	            location.reload();
    	        }
    	        $('#modal-content-register').html(data);
    	        $("#modal-content-register").show();
    	    }
    	});
  }
</script>