<!-- The Modal -->
<div id="modal-image-profil" class="modal modal-image">

  <!-- Modal Content (The Image) -->
  		<img class="modal-image-content" id="profil-image">
			<input type="hidden" name="postPictureId">
			<button id="button-modal-image" style="display: none;" class="btn btn-primary modal-image-button" onclick="setProfilPic()" value='profil'>Set new profil picture</button>
</div>

<script>

</script>