{% extends 'navbar/layout.html.twig' %}

{% block navItemLeft %}
	{#admin part#}
	{{ include('navbar/nav-item/admin.html.twig') }}
	<li class="nav-item">
		<a class="nav-link nav-link-pink-first" href="#why-matcha-section">Match</a>
	</li>
	<li class="nav-item">
		<a class="nav-link nav-link-pink-first" href="#why-matcha-section">Inbox</a>
	</li>
{% endblock %}

{% block navItemRight %}
	{% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
		<li class="nav-item">
			<a class="btn nav-btn-sign-in" onclick="showModalLogin()">Sign in</a>
		</li>
	{% else %}
		<li class="nav-item">
			{{ include('navbar/dropdown/user-card-dropdown.html.twig') }}
		</li>
	{% endif %}
{% endblock %}