.container-admin-user {
    border-color: black;
    padding: 0;
    margin: 0;
}

.table-bordered {
    position: relative;
}

.table-user-body {
    position: relative;
}

.col-admin-user {
    width: 100vw;
}