.profil-head {
    color: #fff;
    background-color: black;
}

.profil-background-cover-photo {
    position: absolute;
    width: 100%;
    height: 23vw;
    opacity: 0.5;
}

.profil-profil-picture {
    cursor: pointer;
    margin-left: 6vw;
    width: 23vw;
    height: 23vw;
    z-index: 0;
}

.cursor-pointer {
    cursor: pointer;
}

.col-profil-profil {
    padding-right: 1vw;
    flex-grow: 0;
}

.profil-profil-name {
    padding-top: 1vw;
    font-size: 2.3rem;
    color: white;
}