.profil-head {
    color: #fff;
}

.profil-background-cover-photo {
    position: absolute;
    width: 100%;
    height: 23vw;
    opacity: 0.5;
}

.profil-profil-picture {
    width: 23vw;
    height: 23vw;
}