{% extends './edit_user/layout.html.twig' %}

{% block title %}
  Edit profile picture
{% endblock %}

{% block body %}
	{{ parent() }}



  <div class="container register-form">
    {# content #}
    <div class="text-center" style="color: #757575;">
      <div class="card-register">
        <h5 class="card-header info-color white-text text-center py-4">
          <strong>Tell us about you</strong>
        </h5>
        <div class="card-body px-lg-5 pt-0">
 			{{ form_start(form) }}
			{{ form_end(form) }}
        </div>
      </div>
    </div>
  </div>

{% endblock %}
