{% extends 'edit_user/layout.html.twig' %}

{% block title %}
  Password Recovery
{% endblock %}

{% block body %}
	{{ parent() }}
	<div class="container register-form">
    	{# content #}
    	<div class="text-center" style="color: #757575;">
    	  <div class="card-register">
    	    <h5 class="card-header info-color white-text text-center py-4">
    	      <strong>Recover your account</strong>
    	    </h5>
			<div class="card-body px-lg-5 pt-0">
    			<form method="POST" id="modal_form_password_recovery">
					<div class="form-part label-float" style="margin-top: 5%;">
						<input type="text" name="email" id="inputMail" class="form-control" required autofocus>
						<label for="inputMail">Your email</label>
					</div>
    			    <input id="password_recovery_form_submit" type="submit" class="btn btnSubmit" name="login"/>
    			</form>
    	    </div>
    	  </div>
    	</div>
	</div>
{% endblock %}
