{% extends 'layout.html.twig' %}

{% block title %}
  Register
{% endblock %}

{% block body %}

	{#navbar #}
	{{ include("navbar/navbar.html.twig") }}
	{#navbar #}
  <div class="container register-form">
    {# content #}
    <div class="text-center" style="color: #757575;">
      <div class="card-register">
        <h5 class="card-header info-color white-text text-center py-4">
          <strong>Reset your password</strong>
        </h5>
        <div class="card-body px-lg-5 pt-0">
          {{ form_start(Form) }}
          {{ form_end(Form) }}
        </div>
      </div>
    </div>
  </div>

{% endblock %}
